body {
    margin: 0;
}

/* 3. Hero video */
/* classes .header and .hero-text defined in Hero image section - no need to define them once again */

.hero-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/* 2. Hero image */

.header {
    position: relative;
}

.hero-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* 1. Accordion */

.accordion {
    border: 3px solid #999;
    border-radius: 7px;
    margin-bottom: 5px;
}

.accordion-header {
    margin: 0;
    padding: 10px;
    cursor: pointer;
}

.accordion-content {
    overflow: hidden;
    height: 0;
    transition: height .3s ease;
    /* Thanks to "transition" property we achieve smooth animation effect */
}

.accordion-selected {
    height: 38px;
}

.accordion-text {
    margin: 0;
    padding: 10px;
    border-top: 1px solid #999;
}